<% formation_array = JSON.parse(@game_detail.formation) %>
<% if @game.status == "playing" %>
  <p class="text-center"><%= @game.senko ? "あなた" : "CPU" %>のターンです</p>
<% else %>
  <p class="text-center">あなた（黒）<%= @score[:senko] %>枚、CPU（白）<%= @score[:kouko] %>枚で、<%= @result %></p>
 <% end %>
<table class="reversi-table mx-auto" border="1">
  <% formation_array.each do |row| %>
    <tr>
      <% row.each do |square| %>
        <td class="<%= square == 1 ? 'senko' : 'kouko' %>"><%= square.present? ? "●" : "　" %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<br />
<div class="text-center">
  <%= link_to("/") do %>
    <button type="button" class="btn btn-link">スタート画面に戻る</button>
  <% end %>
</div>